.root {
    -fx-background-color: #ADD8E6;
}

.label {
    -fx-text-fill: #00008B;
    -fx-font-size: 20px;
}

.text-field {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #00008B;
    -fx-border-width: 2px;
}

.button {
    -fx-background-color: #00008B;
    -fx-text-fill: #FFFFFF;
}
